 
 .container__app{
    background-color: rgb(134, 123, 118);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .container__app_phone{
    background-color: rgb(168, 161, 161);
    width: 90%;
    height: 600px;

 }
 .container__lvl2{
    background-color: red;
    margin-top: 50px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
 .siwp  img{
    width: 100%;
    border-radius: 30px;
    margin-left: auto;

 }
 
.siwper-logo{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 3.9%;
    left: 50%;
    
    transform: translate(-50%, -50%)

    
}
 
/* @media screen {
    DO  .container__lvl2{
        background-color: red;
        margin-top: 50px;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-content: center;
    } THIS 
} */

.coantiner__button__delte__every__thing{
    background-color: rgb(34, 30, 30);
    margin-top: 10px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: gray;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}